html,
body {
  height: 100%;
}

body {
	background-image: linear-gradient(bottom, rgb(17,17,17) 33%, rgb(51,51,51) 67%);
	background-image: -o-linear-gradient(bottom, rgb(17,17,17) 33%, rgb(51,51,51) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(17,17,17) 33%, rgb(51,51,51) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(17,17,17) 33%, rgb(51,51,51) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(17,17,17) 33%, rgb(51,51,51) 67%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.33, rgb(17,17,17)),
		color-stop(0.67, rgb(51,51,51))
	);
}

#container {
	height: 100%;
}

.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
          border-radius: .5em;
  /***  CSS Gradient  ***/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(255, 255, 255) ),
        color-stop( 1.0, rgb(213, 213, 213) ));

  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top,
        rgb(255, 255, 255), 
        rgb(213, 213, 213) );

  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top,
        rgb(255, 255, 255), 
        rgb(213, 213, 213) );

  /*  IE 10+  */
  background-image: -ms-linear-gradient(top,
        rgb(255, 255, 255), 
        rgb(213, 213, 213) );

  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top,
        rgb(255, 255, 255), 
        rgb(213, 213, 213) );

  /*  W3C  */
  background-image: linear-gradient(top,
        rgb(255, 255, 255), 
        rgb(213, 213, 213) );

-moz-box-shadow:inset 0px 2px 1px #999;
-webkit-box-shadow:inset 0px 2px 1px #999;
box-shadow:inset 0px 2px 1px #999;
}

.element.width1 {
	width: 110px;
}
.element.width2 {
	width: 230px;
}
.element.width3 {
	width: 350px;
}
.element.width4 {
	width: 470px;
}
.element.height1 {
	height: 110px;
}
.element.height2 {
	height: 230px;
}
.element.height3 {
	height: 350px;
}









.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
